annotated-types
anyio
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
cryptography
distro
flask
flask-cors
h11
httpcore
httpx
idna
jiter
markdown2
openai
packaging
pdf2image
pdfminer.six
pdfplumber
pillow
pycparser
pydantic
pydantic_core
pypdf
pypdfium2
pytesseract
python-dotenv
reportlab
sniffio
soupsieve
tqdm
typing-inspection
typing_extensions
werkzeug
